.textarea {
  min-width: 55%;
  max-width: 55%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  min-height: 40px;
  box-sizing: border-box;
  min-height: 60px;
}
.textarea:focus {
  outline: none;
  border: 3px solid #bbdafb;
}
